body {
    background-image: url('./space.jpg');
    background-repeat: repeat;
}

h2 {
    font-size: .75rem;
    align-self: flex-end;
}

.spread {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 250px;
    margin: 2px;
    padding: 5px 5px 5px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    cursor: pointer; 
}

small {
    color: aliceblue;
}