*{
    box-sizing: border-box;
}
body {
    background: url('./space.jpg') repeat;
}

/*!* btn styling *!*/

.btn {
    float: right;
}

a {
    color: white;
}

a:focus, a:hover {
    color: aliceblue;
    text-decoration: none;
}

/*!* card styling *!*/

h2 {
    font-size: .75rem;
    align-self: flex-end;
}



.card {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 10px solid darkgoldenrod;

}

.card img {
    border-radius: 2px;
    cursor: pointer;
    width: 100%;

}

.card-body{
    border: 10px solid purple;
    width: 100%;


}

.image-body{
    border: 10px solid blue;
    height: 25vh;


}

/* footer styling */
small {
    color: aliceblue;
}