*{
  box-sizing: border-box;
}

body {
  background: url('img/space.jpg') repeat;
}

a:focus, a:hover {
  color: aliceblue;
  text-decoration: none;
}

.row {
  align-items: center;
}

/* card styling */

.card {
  margin: 10px;
}


img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: inset 0px 0px 40px 40px white;
}

.card img {
  cursor: pointer;
}

/* footer styling */
small {
  color: aliceblue;
}


/* modal styling */
.modal-lg {
  max-width: 90% !important;
}

/* search styling */
form {
  align-items: center;
}
